/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-black-blue: hsl(234, 17%, 12%);

  --ff-primary: 'Red Hat Text', sans-serif;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: var(--ff-primary);

  font-size: 14px;
  transition: 0.3s all ease-in;
}

img {
  width: 100%;
  display: block;
}

main {
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  background-image: url('./images/bg-stars.svg');
}
.countdown {
  width: 90vw;
  margin: 0 auto;
}

/*
===============
Header
===============
*/

header {
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0 5rem;
  padding-top: 10rem;
}

/*
===============
Countdown
===============
*/

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5rem;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.countdown-item h1 {
  color: var(--soft-red);
  font-size: 2.5rem;
}

.countdown-item p {
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
}

.countdown-tile {
  background-color: var(--dark-desaturated-blue);
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 7rem;
  }
  .countdown-container {
    gap: 1.5rem;
  }
  .countdown-tile {
    width: 7rem;
    height: 7rem;
  }
  .countdown-tile h1 {
    font-size: 4rem;
  }
  .countdown-item p {
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .countdown-container {
    gap: 2rem;
  }
  .countdown-tile {
    width: 10rem;
    height: 10rem;
  }
  .countdown-tile h1 {
    font-size: 5rem;
  }
  .countdown-item p {
    letter-spacing: 5px;
  }
}

.time-over {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

/*
===============
Footer
===============
*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url('./images/pattern-hills.svg');
  height: 20vh;
  display: grid;
  place-items: center;
}

.link-container {
  display: flex;
  gap: 2rem;
}
